<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="home.html" class="navbar-logo">M<span>M</span></a>
      <div class="navbar-nav">
        <a href="home.html">Home</a>
        <a href="gallery.html">Gallery</a>
        <a href="blog.html">Blog</a>
        <a href="contact.html">Contact</a>
      </div>
    </nav>
    <div class="blog-container">
      <div class="blog-card">
        <img
          src="../static/image/artikel_1.jpg"
          alt="blog"
          class="blog-image"
        />
        <div class="blog-content">
          <p class="blog-meta">2025-02-23</p>
          <h2 class="blog-title">Revolusi AI dalam Dunia Teknologi</h2>
          <p class="blog-description">
            Kemajuan terbaru dalam machine learning dan deep learning telah
            memungkinkan sistem AI untuk memahami bahasa alami.
          </p>
          <a
            href="https://kumparan.com/zidan-np/mengungkap-potensi-ai-revolusi-teknologi-yang-mengubah-dunia-24YGC2OHhau"
            class="read-more"
            >Read more →</a
          >
        </div>
      </div>

      <div class="blog-card">
        <img
          src="../static/image/artikel_2.png"
          alt="blog"
          class="blog-image"
        />
        <div class="blog-content">
          <p class="blog-meta">2024-03-10</p>
          <h2 class="blog-title">Seni Digital: Era Baru Kreativitas</h2>
          <p class="blog-description">
            Di era digital, seni berkembang melampaui kanvas tradisional.
            Seniman kini menciptakan karya luar biasa dengan AI, tablet digital,
            dan desain grafis.
          </p>
          <a
            href="https://gbsri.com/teknologi-dan-kreativitas-seni-rupa-di-era-digital/"
            class="read-more"
            >Read more →</a
          >
        </div>
      </div>

      <div class="blog-card">
        <img
          src="../static/image/artikel_3.png"
          alt="blog"
          class="blog-image"
        />
        <div class="blog-content">
          <p class="blog-meta">2024-03-05</p>
          <h2 class="blog-title">Manfaat Olahraga untuk Kesehatan Mental</h2>
          <p class="blog-description">
            Olahraga meningkatkan produksi endorfin yang membantu mengurangi
            stres, kecemasan, serta meningkatkan kualitas tidur dan rasa percaya
            diri.
          </p>
          <a
            href="https://www.biofarma.co.id/id/announcement/detail/manfaat-olahraga-bagi-kesehatan-mental"
            class="read-more"
            >Read more →</a
          >
        </div>
      </div>
    </div>
  </body>
  <div class="button-function">
    <button class="button-back" onclick="window.location.href='home.html'">
      Back to Homepage
    </button>
    <button class="button-next" onclick="window.location.href='contact.html'">
      Go To Next Page
    </button>
  </div>
</html>
