<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/script/script.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <a href="home.html" class="navbar-logo">M<span>M</span></a>
        <div class="hamburger" id="hamburger">☰</div>
        <div class="navbar-nav" id="navbarNav">
          <a href="home.html">Home</a>
          <a href="gallery.html">Gallery</a>
          <a href="blog.html">Blog</a>
          <a href="contact.html">Contact</a>
        </div>
        <button class="theme-switch" id="themeSwitch">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32px"
            viewBox="0 -960 960 960"
            width="32px"
            fill="#000"
          >
            <path
              d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32px"
            viewBox="0 -960 960 960"
            width="32px"
            fill="#ffffff"
          >
            <path
              d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"
            />
          </svg>
        </button>
      </nav>
    </nav>
    <div class="gallery-container">
      <img src="..\static\image\gambar1.jpg" alt="image-1 " class="image" />
      <div class="text-content">
        <p>
          <strong>Location : </strong>&nbsp; Danau Linow, Kota Tomohon, Sulawesi
          Utara.
        </p>
        <p>
          <strong>Date&nbsp; &nbsp; &nbsp; &nbsp;: </strong>&nbsp; 20/04/2024
        </p>
      </div>
    </div>
    <div class="gallery-container-reverse">
      <img src="..\static\image\gambar2.jpg" alt="image-2" class="image" />
      <div class="text-content">
        <p>
          <strong>Location : </strong>&nbsp; Bukit Sibea-bea, Sumatera Utara.
        </p>
        <p>
          <strong>Date&nbsp; &nbsp; &nbsp; &nbsp;: </strong>&nbsp; 30/12/2024
        </p>
      </div>
    </div>
    <div class="button-function">
      <button class="button-back" onclick="window.location.href='home.html'">
        Back to Homepage
      </button>
      <button class="button-next" onclick="window.location.href='blog.html'">
        Go To Next Page
      </button>
    </div>
  </body>
</html>
